@font-face {
    font-family: "newfont";
    src: url("/Nosifer-Regular.ttf")
}

body {
    font-family: monospace;
    background-image: url("https://images.unsplash.com/photo-1557089289-57d5c9f4f0c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
    background-size: cover;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: monospace;
    touch-action: manipulation;

}

button:hover {
    background: green;
}

#increment-btn {
    background: black;
    border: solid white 1px;
}

#increment-btn:active {
    background: green;
}

#save-btn {
    background: black;
    border: solid white 1px;
}

#save-btn:active {
    background: green;
}


.container {
    background-color: black;
    padding: 20px 30px;
    border: solid 1px white;
    border-radius: 10px;
    font-family: newfont;
    max-width: 350px;
    max-height: 600px;
    text-shadow: 1px 1px 1px red;
}

p {
    font-family: monospace;
    font-size: 16px;
}
